@using ClinicManagement.Data.People;

<h3>PeopleList</h3>
<div>
    <table class="table table-primary">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>

@code {
    private List<Person> people;

}
